<div *ngIf="login === null">
  <app-login-menu (loginEvent)="loginEvent($event)"></app-login-menu>
</div>
<div *ngIf="login !== null && currentRoom === null">
  <app-host-menu
    (roomHostedEvent)="roomHostedEvent($event)"
    [gameOptions]="gameOptions"
  ></app-host-menu>
  <app-join-menu
    (roomJoinEvent)="roomSelectedEvent($event)"
    [rooms]="connection === null ? [] : connection.rooms"
  ></app-join-menu>
</div>
<div *ngIf="currentRoom !== null" class="app-in-room">
  <app-game-canvas
    [props]="{
      width: canvasParameters.width,
      height: canvasParameters.height,
      isOverlapped: !connection.connectionEstablished && this.wonBy === ''
    }"
    (canvasCreation)="canvasCreationEvent($event)"
    ><h2>{{canvasText}}</h2>
  </app-game-canvas>
  <app-room-chat
    [props]="{
      messages: connection.messages.length === 0 ? [] : connection.messages,
      disabled: !connection.connectionEstablished
    }"
    (onMessageSend)="messageSendEvent($event)"
  ></app-room-chat>
</div>
