/* You can add global styles to this file, and also import other style files */
ul, li {
  padding: 0;
  margin: 0;
}

app-root {
  display: block;
  height: 100%;
}

.std-button, .std-select {
  border: 1px solid rgb(82, 82, 82);
  border-radius: .3em;
  padding: .5em;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow linear .4s;
}

.std-button:hover, .std-select:hover {
  box-shadow: 3px 3px 10px black;
  text-decoration: underline;
}

.std-button:disabled {
  background-color: rgba(255, 0, 0, 0.651);
  color: white;
  cursor: default;
  box-shadow: none;
  text-decoration: none;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .4em;
}

h2 {
  font-size: 1.5em;
  text-transform: capitalize;
  font-style: italic;
}
